body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container > * {
  border: 1px solid gray;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
}